---
import { getCollection } from 'astro:content';

import Layout from '@components/4-layouts/Layout.astro';

const kanjisCollection = await getCollection('kanjisCollection');
---

<Layout>
  <ul class="card-list">
    {
      kanjisCollection.map(({ data, id }) => {
        return (
          <li>
            <a href={`${import.meta.env.BASE_URL}${id}`}>{data.title}</a>
          </li>
        );
      })
    }
  </ul>
</Layout>
